<!DOCTYPE html>
<html lang="en">

<head>
    <title>MoviesHub</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="header">
        <a href="/">
            <p class="logo">MoviesHub</p>
        </a>
        <div>
            <ul>

                <li><a href='/search'>Search</a></li>
                <li><a href='/account'>Account</a></li>

                <% if (req.isAuthenticated()) { %>
                    <li>
                        <form method="POST" action="/logout">
                            <button type="submit" class="logout-btn">Log out</button>
                        </form>
                    </li>
                    <% } else { %>
                        <li>
                            <form method="POST" action="/login">
                                <button type="submit" class="logout-btn">Login</button>
                            </form>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>


    <p>Search Page</p>
    <form method="POST" action="/search">
        <div class="form-group">
            <label for="movie">Movie Name:</label>
            <input type="movie" class="form-control" id="movie" name="movie" placeholder="Enter movie name" required>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <hr noshade width="30%">
    
    <%- HTML %>

    <!-- <div class="footer">
        <p>This is a footer</p>
    </div> -->
</body>

</html>