<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" >
    <title>Movie Seat Booking</title>
  </head>
  <body>
    <div class="header">
      <a href="/">
          <p class="logo">MoviesHub</p>
      </a>
    </div>
    <div class="movie-container">
      <label>Pick a showtime:</label>
      <select id="showtime">
        <option value="80">10:00 AM (80L.E)</option>
        <option value="80">11:00 AM (80L.E)</option>
        <option value="80">12:30 PM (80L.E)</option>
        <option value="80">1:30 PM (80L.E)</option>
        <option value="120">3:00 PM (120L.E)</option>
        <option value="120">4:00 PM (120L.E)</option>
        <option value="120">5:30 PM (120L.E)</option>
        <option value="120">6:30 PM (120L.E)</option>
        <option value="120">8:00 PM (120L.E)</option>
        <option value="120">9:00 PM (120L.E)</option>
        <option value="120">10:30 PM (120L.E)</option>
        <option value="120">11:30 PM (120L.E)</option>
        <option value="120">1:00 midnight (120L.E)</option>
      </select>
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>N/A</small>
      </li>

      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>

      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>
    </ul>

    <div class="container">
      <div class="screen"></div>
      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
      </div>

      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="row">
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
      </div>
    </div>
    <form method="POST" action="/pay">
      <button type="submit" class="btn btn-primary">Buy ticket with card</button>
    </form>
    <form method="POST" action="/buy">
      <button type="submit" class="btn btn-primary">Buy ticket without card</button>
    </form>

    <p class="text">
      You have selected <span id="count">0</span> seats for a price of L.E<span id="total">0</span>
    </p>
    <script>
    const container = document.querySelector('.container');
    const seats = document.querySelectorAll('.row .seat:not(.occupied)');
    const count = document.getElementById('count');
    const total = document.getElementById('total');
    const movieSelect = document.getElementById('showtime');

populateUI();
let ticketPrice = +movieSelect.value;

// Save selected movie index and price
// function setMovieData(movieIndex, moviePrice) {
//   localStorage.setItem('selectedMovieIndex', movieIndex);
//   localStorage.setItem('selectedMoviePrice', moviePrice);
// }

// update total and count
function updateSelectedCount() {
  const selectedSeats = document.querySelectorAll('.row .seat.selected');

  const seatsIndex = [...selectedSeats].map((seat) => [...seats].indexOf(seat));

  localStorage.setItem('selectedSeats', JSON.stringify(seatsIndex));

  //copy selected seats into arr
  // map through array
  //return new array of indexes

  const selectedSeatsCount = selectedSeats.length;

  count.innerText = selectedSeatsCount;
  total.innerText = selectedSeatsCount * ticketPrice;
}

// get data from localstorage and populate ui
 function populateUI() {
   const selectedSeats = JSON.parse(localStorage.getItem('selectedSeats'));
   if (selectedSeats !== null && selectedSeats.length > 0) {
     seats.forEach((seat, index) => {
       if (selectedSeats.indexOf(index) > -1) {
         seat.classList.add('selected');
       }
     });
  }

   const selectedMovieIndex = localStorage.getItem('selectedMovieIndex');

   if (selectedMovieIndex !== null) {
     movieSelect.selectedIndex = selectedMovieIndex;
   }
 }

// Movie select event
 movieSelect.addEventListener('change', (e) => {
   ticketPrice = +e.target.value;
 setMovieData(e.target.selectedIndex, e.target.value);
   updateSelectedCount();
 });

// Seat click event
container.addEventListener('click', (e) => {
  if (e.target.classList.contains('seat') && !e.target.classList.contains('occupied')) {
    e.target.classList.toggle('selected');
  }
    updateSelectedCount();
  
});

// intial count and total
updateSelectedCount();
    </script>
  </body>
</html>