body {
    background-color: #262729;
    color: white;
    text-align: center;
    margin: 0%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

li {
    padding-right: 1cm;
}

.CinemaName {
    font-size: xx-large;
    font-family: Garamond !important;
}

.MovieName {
    font-size: small;
    font-family: 'Papyrus';
    font-style: oblique;
    max-width: 150px;
    margin-top: 0em;
}

.header {
    background-color: black;
}

.header p {
    margin-top: 0px;
}

.footer {
    background-color: black;
}

.footer p {
    margin-bottom: 0px;
}