body {
    background-color: #262729;
    color: white;
    text-align: center;
    margin: 0%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}

li {
    padding-right: 1cm;
}

.CinemaName {
    font-size: xx-large;
    font-family: Garamond !important;
}

.MovieName {
    font-size: small;
    font-family: 'Papyrus';
    font-style: oblique;
    max-width: 150px;
    margin-top: 0em;
}

/* make header responsive */
.header {
    background-color: black;
    margin-top: 0px;
    height: 4em;
}

.logo {
    font-size: xx-large;
    float: left;
    padding-top: 0.5em;
    margin-left: 5em;
}

.Buy {
    font-size: large;
    float: right;
    padding-right: 9em;
    padding-top: 1.4em;
}

.footer {
    background-color: black;
}

.footer p {
    margin-bottom: 0px;
    height: 10em;
}

a {
    text-decoration: none;
    color: white;
}